.box {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__items {
        width: 100%;
        display: flex;
        position: relative;
        margin-top: 60px;
        flex-wrap: wrap;

        @media(max-width: 320px) {
            margin-top: 30px;
        }

        @media(min-width: $screen-xs) {
            margin-top: 30px;
        }

        @media(min-width: $screen-sm) {
            justify-content: center;
        }

        @media(min-width: $screen-lg) {
            justify-content: space-between;
        }
    }

    &__item {
        padding: 25px;

        @media(max-width: 320px) {
            text-align: center;
            flex: 0 1 100%;

            &:nth-child(2n) {
                text-align: center;
            }
        }

        @media(min-width: $screen-xs) {
            text-align: center;
            flex: 0 1 100%;

            &:nth-child(2n) {
                text-align: center;
            }
        }

        @media(min-width: $screen-sm) {
            flex: 0 1 34%;
            text-align: center;

            &:nth-child(2n) {
                text-align: center;
            }
        }

        @media(min-width: $screen-lg) {
            flex: 0 1 34%;
            text-align: right;

            &:nth-child(2n) {
                text-align: left;
            }
        }
    }

    &__item-img {
        width: 41px;
        height: 41px;
        object-fit: contain;
        object-position: center;
        margin-bottom: 25px;

        @media(max-width: 320px) {
            margin-bottom: 15px;
        }

        @media(min-width: $screen-xs) {
            margin-bottom: 15px;
        }
    }

    &__item-title {
        font-size: 15px;
        margin-bottom: 18px;

        @media(max-width: 320px) {
            margin-bottom: 5px;
        }

        @media(min-width: $screen-xs) {
            margin-bottom: 5px;
        }
    }

    &__item-text {
        font-family: 'Proxima Nova Light';
        font-size: 15px;
    }

    &__img {
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media(max-width: 320px) {
            display: none;
        }

        @media(min-width: $screen-xs) {
            display: none;
        }

        @media(min-width: $screen-lg) {
            display: flex;
        }
    }
}