.map {
    flex-direction: column;
    justify-content: center;

	&__img {
        width: 80%;
        margin: 0 auto;
        margin-top: 75px;

        @media(max-width: 320px) {
            width: 95%;
        }

        @media(min-width: $screen-xs) {
            width: 95%;
        }
	}
}